/**/

body{
  background-color:rgba(9, 224, 146);
}
#calculo{
  width: 80%;
  height:60px;
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 20px;
  border-radius: 5px; 
  background-color: rgba(11, 211, 138)
  
}
img{
  width: 150px;
}
h1{
  font-size: 20px;
  margin-left:10%; 
}
#idade{
  color: blue;
  height: 50px;
  width: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 5%;
}

#altura{
  height: 50px;
  width: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 5%;
}

#peso{
  height: 50px;
  width: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-right:5%; 
}

#Sexo{
  height: 50px;
  width: 125%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
nav{
  width:90%;
  height: 400px;
  background-color:rgba(50, 54, 66) ;
}
a:link 
{ 
text-decoration:none; 
} 
a:visited {text-decoration: none}
a:hover {text-decoration: none;}