/**/

body{
  background-color:rgba(9, 224, 146);
}
#continuar{
  width: 80%;
  height:60px;
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 20px;
  border-radius: 5px; 
  background-color: rgba(11, 211, 138)
}
img{
  width: 150px;
  
}
h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:20px;
  border: 1px solid rgba(50, 54, 66);
  border-radius: 2px;
  width: 80%;
  background-color: rgba(50, 54, 66);
  color:white;
  box-shadow: 5px 5px rgba(50, 54, 66,0.7);
  height: 40px;
  padding-top: 1%;
}
#idade{
  color: blue;
  height: 50px;
  width: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 5%;
}

#altura{
  height: 50px;
  width: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 5%;
}

#peso{
  height: 50px;
  width: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-right:5%; 
}

#Sexo{
  height: 50px;
  width: 125%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
nav{
  width:90%;
  height: 400px;
  background-color:rgba(50, 54, 66) ;
   box-shadow: 5px 5px rgba(50, 54, 66,0.7);
   margin-top: -5%;
}
a:link 
{ 
text-decoration:none; 
} 
a:visited {text-decoration: none}
a:hover {text-decoration: none;}