/* This is a CSS file */

body{
  background-color: rgba(9, 224, 146);
}

h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size:15px;
  margin-right:0;
  margin-left:-20px; 
}

#sedentario, #leveAtivo, #moderaAtivo, #altaAtivo, #extreAtivo{
  height: 25px;
  margin-top:25%;
  margin-left: 35%;
  width: 60%;
}

a:link 
{ 
text-decoration:none; 
} 
a:visited {text-decoration: none}
a:hover {text-decoration: none;}

#calculo{
  width: 80%;
  height:50px;
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 20px;
  background-color: rgba(11, 211, 138);
  border:1px rgba(11, 211, 138) ;
  border-radius: 5px;

}

#corpo{
  color: white;
  width: 85%;
  height: 420px;
  margin-left:8% ; 
  background-color: rgba(50, 54, 66) ;
}

#esq{
  margin-right: 5%;
}